.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 76px;
    gap: 241px;

    position: absolute;
    height: 64px;
    left: 0%;
    right: 0%;
    top: 0px;

    /* Black and White/White */

    background: #FFFFFF;
    /* Shadow_main */

    box-shadow: 0px 4px 4px rgba(205, 205, 205, 0.25);
}

.nav-bar ul {
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    padding: 0 30px;
}

.nav-bar li:not(.logo, .logout){
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logout {
    position: absolute;
    right: 0;
}

.nav-bar a:any-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #1A3440;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.logout a:any-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #1A3440;
    flex: none;
    order: 2;
    flex-grow: 0;
}